name: Build sing-box with Naive  
  
on:  
  workflow_dispatch:  
    inputs:  
      version:  
        description: "Version name"  
        required: true  
        type: string  
  
jobs:  
  build:  
    runs-on: ubuntu-latest  
    steps:  
      - name: Checkout  
        uses: actions/checkout@v5  
        with:  
          fetch-depth: 0  
        
      - name: Setup Go  
        uses: actions/setup-go@v5  
        with:  
          go-version: ^1.25.4  
        
      - name: Clone cronet-go  
        run: |  
          git clone --recursive --depth=1 https://github.com/sagernet/cronet-go.git ~/cronet-go  
        
      - name: Cache Chromium toolchain  
        uses: actions/cache@v4  
        with:  
          path: |  
            ~/cronet-go/naiveproxy/src/third_party/llvm-build/Release+Asserts  
            ~/cronet-go/naiveproxy/src/out/sysroot-build  
          key: chromium-toolchain-arm64-glibc  
        
      - name: Download Chromium toolchain  
        run: |  
          cd ~/cronet-go  
          go run ./cmd/build-naive --target=linux/arm64 download-toolchain  
        
      - name: Build sing-box  
        run: |  
          cd ~/cronet-go  
          eval $(go run ./cmd/build-naive --target=linux/arm64 env)  
          cd $GITHUB_WORKSPACE  
          mkdir -p dist  
          go build -v -trimpath -o dist/sing-box \  
          -tags "with_gvisor,with_quic,with_dhcp,with_wireguard,with_utls,with_acme,with_clash_api,with_tailscale,with_ccm,with_naive_outbound,badlinkname,tfogo_checklinkname0" \  
          -ldflags '-s -w -buildid= -X github.com/sagernet/sing-box/constant.Version=${{ inputs.version }} -checklinkname=0' \  
          ./cmd/sing-box  
        env:  
          CGO_ENABLED: "1"  
          GOOS: linux  
          GOARCH: arm64  
        
      - name: Upload artifact  
        uses: actions/upload-artifact@v4  
        with:  
          name: sing-box-linux-arm64-glibc  
          path: dist/sing-box
