name: build

env:
  ENV_LINUX: CGO_ENABLED=0 GOOS=linux GOARCH=arm64
  ENV_android: CGO_ENABLED=1 GOOS=android GOARCH=arm64 CC=${CC_ANDROID}
  ENV_WINDOWS: CGO_ENABLED=0 GOOS=windows GOARCH=amd64 GOAMD64=v3
  TAG_android: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,badlinkname,tfogo_checklinkname0
  TAG_LINUX: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,badlinkname,tfogo_checklinkname0
  TAG_WINDOWS: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,badlinkname,tfogo_checklinkname0

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.5'
        cache: false

    - name: git clone
      run: |
        git clone --depth 1 -b main-next https://github.com/SagerNet/sing-box.git

    - name: Setup Android NDK
      uses: nttld/setup-ndk@v1
      id: setup-ndk
      with:
        ndk-version: r29
        add-to-path: false
        local-cache: false

    - name: go build
      env:
        ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
      run: | 
        set -e

        cd sing-box

        CC_ANDROID=${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android35-clang

        go env -w ${{ env.ENV_android }}
        go build -tags ${{ env.TAG_android }} -v -o sing-box -trimpath -ldflags "-s -w -buildid=" ./cmd/sing-box
        go env -w ${{ env.ENV_LINUX }}
        go build -tags ${{ env.TAG_LINUX }} -v -o sing-box -trimpath -ldflags "-s -w -buildid=" ./cmd/sing-box
        go env -w ${{ env.ENV_WINDOWS }}
        go build -tags ${{ env.TAG_WINDOWS }} -v -o sing-box.exe -trimpath -ldflags "-s -w -buildid=" ./cmd/sing-box

    - name: Upload files
      uses: actions/upload-artifact@v3
      with:
        name: sing-box
        path: |
          sing-box/sing-box_linux_arm64
          sing-box/sing-box_android_arm64
          sing-box/sing-box_windows_amd64.exe
