name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          cache: false

      - name: Clone sing-box
        run: |
          git clone -b dev-next --depth=1 https://github.com/SagerNet/sing-box.git

      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r29
          add-to-path: false
          local-cache: false

      - name: Build sing-box (android arm64 naive)
        env:
           ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          set -euo pipefail
          cd sing-box
          CC=${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android35-clang
          export CGO_ENABLED=1
          export GOOS=android
          export GOARCH=arm64

          TAGS="with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,with_naive_outbound"

          go build -v -trimpath \
            -tags "$TAGS" \
            -ldflags "-s -w -buildid=" \
            -o sing-box-androidarm64 \
            ./cmd/sing-box

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sing-box-naive
          path: |
            sing-box/sing-box-androidarm64

      - name: 删除工作流程运行
        uses: Mattraks/delete-workflow-runs@main
        with:
          token: ${{ github.token }}
          retain_days: 1
          keep_minimum_runs: 5
