name: build

env:
  ENV_LINUX_AMD64: CGO_ENABLED=0 GOOS=linux GOARCH=amd64
  ENV_LINUX_ARM64: CGO_ENABLED=0 GOOS=linux GOARCH=arm64
  ENV_WINDOWS: CGO_ENABLED=0 GOOS=windows GOARCH=amd64 GOAMD64=v3
  ENV_ANDROID: CGO_ENABLED=0 GOOS=android GOARCH=arm64
  TAG_LINUX: with_quic,with_dhcp,with_wireguard,with_utls,with_reality_server,with_acme,with_clash_api,with_gvisor,with_tailscale
  TAG_WINDOWS: with_quic,with_dhcp,with_wireguard,with_utls,with_reality_server,with_acme,with_clash_api,with_gvisor,with_tailscale
  TAG_ANDROID: with_quic,with_dhcp,with_wireguard,with_utls,with_reality_server,with_acme,with_clash_api,with_gvisor,with_tailscale
  TZ: Asia/Shanghai

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.0'  # Fetch the latest stable Go version
        cache: false

    - name: git clone specific branch
      run: |
        git clone --branch main-next --depth 1 https://github.com/SagerNet/sing-box.git

    - name: go build
      run: | 
        cd sing-box
        # Build for Linux (AMD64)
        go env -w ${{ env.ENV_LINUX_AMD64 }}
        go build -tags ${{ env.TAG_LINUX }} -v -o sing-box-amd64 -trimpath -ldflags "-s -w -buildid=" ./cmd/sing-box
        # Build for Linux (ARM64)
        go env -w ${{ env.ENV_LINUX_ARM64 }}
        go build -tags ${{ env.TAG_LINUX }} -v -o sing-box-arm64 -trimpath -ldflags "-s -w -buildid=" ./cmd/sing-box

        # Build for Windows
        go env -w ${{ env.ENV_WINDOWS }}
        go build -tags ${{ env.TAG_WINDOWS }} -v -o sing-box.exe -trimpath -ldflags "-s -w -buildid=" ./cmd/sing-box
        # Build for Android
        go env -w ${{ env.ENV_ANDROID }}
        go build -tags ${{ env.TAG_ANDROID }} -v -o sing-box-android -trimpath -ldflags "-s -w -buildid=" ./cmd/sing-box

    - name: Upload Linux AMD64
      uses: actions/upload-artifact@main
      with:
        name: sing-box-amd64
        path: sing-box/sing-box-amd64

    - name: Upload Linux ARM64
      uses: actions/upload-artifact@main
      with:
        name: sing-box-arm64
        path: sing-box/sing-box-arm64

    - name: Upload Windows
      uses: actions/upload-artifact@main
      with:
        name: sing-box.exe
        path: sing-box/sing-box.exe

    - name: Upload Android
      uses: actions/upload-artifact@main
      with:
        name: sing-box-android
        path: sing-box/sing-box-android
