name: buildenv

env:
  ENV_LINUX: CGO_ENABLED=1 GOOS=linux GOARCH=arm64 CC=musl-gcc
  ENV_WINDOWS: CGO_ENABLED=0 GOOS=windows GOARCH=amd64 GOAMD64=v3
  ENV_android: CGO_ENABLED=1 CC=${CC} GOOS=android GOARCH=arm64

  TAG_android: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,with_naive_outbound
  TAG_LINUX: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,with_naive_outbound,with_musl
  TAG_WINDOWS: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,with_naive_outbound,with_purego

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          cache: false

      - name: Clone sing-box
        run: git clone -b dev-next --depth=1 https://github.com/SagerNet/sing-box.git

      - name: Clone cronet-go
        run: |
          git clone --recursive --depth=1 https://github.com/SagerNet/cronet-go.git
          cd cronet-go
          go run ./cmd/build-naive --target=linux/arm64 --libc=musl download-toolchain

      - name: Export cronet-go env
        id: cronet-env
        run: |
          cd cronet-go
          go run ./cmd/build-naive --target=linux/arm64 --libc=musl env >> $GITHUB_ENV

      - name: Install musl-tools
        run: sudo apt-get update && sudo apt-get install -y musl-tools

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r29
          add-to-path: false
          local-cache: false

      - name: Build binaries
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          cd sing-box

          # Android
          CC=${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android35-clang
          go env -w ${{ env.ENV_android }}
          go build -tags "$TAG_android" -v -o sing-box-androidarm64 -trimpath -ldflags "-s -w -buildid=" ./cmd/sing-box

          # Linux (musl)
          go env -w ${{ env.ENV_LINUX }}
          go build -tags "$TAG_LINUX" -v -o sing-box-linuxarm64-musl -trimpath -ldflags "-s -w -buildid=" ./cmd/sing-box

          # Windows
          go env -w ${{ env.ENV_WINDOWS }}
          go build -tags "$TAG_WINDOWS" -v -o sing-box.exe -trimpath -ldflags "-s -w -buildid=" ./cmd/sing-box

      - name: Upload Artifacts
        uses: actions/upload-artifact@main
        with:
          name: sing-box
          path: |
            sing-box/sing-box-androidarm64
            sing-box/sing-box-linuxarm64-musl
            sing-box/sing-box.exe

      - name: Cleanup Workflow Runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          token: ${{ github.token }}
          retain_days: 1
          keep_minimum_runs: 5