name: sing-box-build

env:
  TAG_android: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,with_naive_outbound
  TAG_LINUX: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,with_naive_outbound,with_musl
  TAG_WINDOWS: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,with_naive_outbound,with_purego

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          cache: false

      - name: Clone sing-box
        run: |
          git clone -b dev-next --depth=1 https://github.com/SagerNet/sing-box.git

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r29
          add-to-path: false
          local-cache: false

      - name: Setup cronet-go (naive musl toolchain)
        run: |
          git clone --depth=1 https://github.com/sagernet/cronet-go.git ~/cronet-go
          cd ~/cronet-go
          git submodule update --init --recursive --depth=1
          go run ./cmd/build-naive --target=linux/arm64 --libc=musl download-toolchain
          go run ./cmd/build-naive --target=linux/arm64 --libc=musl env >> $GITHUB_ENV

      - name: Build sing-box
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          set -e
          cd sing-box

          ################ Android arm64 ################
          unset CC CXX CGO_LDFLAGS QEMU_LD_PREFIX
          export CC=${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android35-clang
          export GOOS=android
          export GOARCH=arm64
          export CGO_ENABLED=1
          go build -v \
            -tags "${TAG_android}" \
            -trimpath \
            -ldflags "-s -w -buildid=" \
            -o sing-box-androidarm64 \
            ./cmd/sing-box

          ################ Linux arm64 musl + naive ################
          export GOOS=linux
          export GOARCH=arm64
          export CGO_ENABLED=1
          go build -v \
            -tags "${TAG_LINUX}" \
            -trimpath \
            -ldflags "-s -w -buildid=" \
            -o sing-box-linuxarm64 \
            ./cmd/sing-box

          ################ Windows amd64 purego ################
          unset CC CXX CGO_LDFLAGS QEMU_LD_PREFIX
          export GOOS=windows
          export GOARCH=amd64
          export GOAMD64=v3
          export CGO_ENABLED=0
          go build -v \
            -tags "${TAG_WINDOWS}" \
            -trimpath \
            -ldflags "-s -w -buildid=" \
            -o sing-box.exe \
            ./cmd/sing-box

      - name: Upload artifacts
        uses: actions/upload-artifact@main
        with:
          name: sing-box
          path: |
            sing-box/sing-box-androidarm64
            sing-box/sing-box-linuxarm64
            sing-box/sing-box.exe
