name: sing-box-linux-arm64

on:
  workflow_dispatch:

env:
  GOOS: linux
  GOARCH: arm64
  CGO_ENABLED: 1
  TZ: Asia/Shanghai

  TAG_LINUX: >
    with_quic
    with_dhcp
    with_wireguard
    with_utls
    with_reality_server
    with_acme
    with_clash_api
    with_gvisor
    with_naive_outbound
    with_purego


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: stable
          cache: false

      - name: Clone sing-box (dev-next)
        run: |
          git clone --branch dev-next --depth=1 https://github.com/SagerNet/sing-box
          cd sing-box
          go version

      - name: Build sing-box (Linux ARM64)
        run: |
          cd sing-box

          echo "GOOS=$GOOS"
          echo "GOARCH=$GOARCH"
          echo "CGO_ENABLED=$CGO_ENABLED"
          echo "TAGS=$TAG_LINUX"

          go build \
            -tags "$TAG_LINUX" \
            -trimpath \
            -ldflags "-s -w -buildid=" \
            -v \
            -o sing-box-linux-arm64 \
            ./cmd/sing-box

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sing-box-linux-arm64
          path: sing-box/sing-box-linux-arm64
