name: Build Core

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TAGS: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor,badlinkname,tfogo_checklinkname0

    steps:
      - name: Clone sing-box (main-next)
        run: |
          git clone --depth=1 -b main-next https://github.com/SagerNet/sing-box.git

      - name: Get latest go version
        id: go_version
        run: |
          echo go_version=$(curl -s https://raw.githubusercontent.com/actions/go-versions/main/versions-manifest.json \
            | grep -oE '"version": "[0-9]{1}.[0-9]{1,}(.[0-9]{1,})?"' \
            | head -1 \
            | cut -d':' -f2 \
            | sed 's/ //g; s/"//g') >> $GITHUB_OUTPUT

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25.5

      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r29
          add-to-path: false
          local-cache: false

      - name: Build core
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          cd sing-box

          CC=${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android35-clang

          # Linux arm64
          CGO_ENABLED=0 GOOS=linux GOARCH=arm64 make build

          # Android arm64
          CGO_ENABLED=1 CC=${CC} GOOS=android GOARCH=arm64 make build

      - name: Upload Linux arm64
        uses: actions/upload-artifact@v4.3.1
        with:
          name: sing-box_linux_arm64
          path: sing-box/sing-box

      - name: Upload Android
        uses: actions/upload-artifact@v4.3.1
        with:
          name: sing-box_android
          path: sing-box/sing-box
