name: build-arm64-musl

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"
          cache: false

      - name: Build cronet-go toolchain
        run: |
          git clone --recursive https://github.com/SagerNet/cronet-go.git
          cd cronet-go
          go run ./cmd/build-naive --target=linux/arm64 --libc=musl download-toolchain
          echo "ENV=$(go run ./cmd/build-naive --target=linux/arm64 --libc=musl env)" > ../cronet_env

      - name: Export cronet env
        run: |
          source cronet_env
          # cronet env will set CC/CXX/LD/LDFLAGS/CFLAGS etc.

      - name: Build sing-box arm64 musl
        run: |
          export CGO_ENABLED=1
          export GOOS=linux
          export GOARCH=arm64
          source cronet_env
          cd sing-box
          go build -tags "with_gvisor,with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_ccm,badlinkname,tfogo_checklinkname0,with_naive_outbound,with_musl" \
            -o sing-box-arm64-musl ./cmd/sing-box

      - name: Upload artifact
        uses: actions/upload-artifact@main
        with:
          name: sing-box-arm64-musl
          path: sing-box/sing-box-arm64-musl
