name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GOOS: linux
      GOARCH: arm64
      CGO_ENABLED: 0
      TAG_LINUX: >
        with_quic
        with_dhcp
        with_utls
        with_acme
        with_clash_api
        with_naive_outbound
        with_purego

    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          cache: false

      - name: git clone
        run: |
          git clone --depth 1 https://github.com/SagerNet/sing-box.git

      - name: go build
        working-directory: sing-box
        run: |
          go env
          go build \
            -tags "${TAG_LINUX}" \
            -v \
            -o sing-box \
            -trimpath \
            -ldflags "-s -w -buildid=" \
            ./cmd/sing-box

      - name: Upload files
        uses: actions/upload-artifact@main
        with:
          name: sing-box
          path: sing-box/sing-box
