name: Build Core

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TAG_android: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor
      TAG_LINUX: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor
      TAG_WINDOWS: with_quic,with_dhcp,with_utls,with_acme,with_clash_api,with_gvisor

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get latest go version
        id: go_version
        run: |
          echo go_version=$(curl -s https://raw.githubusercontent.com/actions/go-versions/main/versions-manifest.json | grep -oE '"version": "[0-9]{1}.[0-9]{1,}(.[0-9]{1,})?"' | head -1 | cut -d':' -f2 | sed 's/ //g; s/"//g') >> $GITHUB_OUTPUT

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25.5

      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r29
          add-to-path: false
          local-cache: false

      - name: git clone
        run: |
         git clone -b dev-next --depth=1 https://github.com/SagerNet/sing-box.git
        

      - name: Build core
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          cd sing-box
          CC=${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android35-clang
          # VERSION=$(CGO_ENABLED=0 go run ./cmd/internal/read_tag)
          # CGO_ENABLED=1 CC=${CC} GOARCH=arm64 GOOS=android go build -v -trimpath -ldflags "-X 'github.com/sagernet/sing-box/constant.Version=${VERSION}' -s -w -buildid=" -tags ${TAG_android} ./cmd/sing-box
          # CGO_ENABLED=0 GOARCH=amd64 GOOS=windows GOAMD64=v3 go build -v -trimpath -ldflags "-X 'github.com/sagernet/sing-box/constant.Version=${VERSION}' -H windowsgui -s -w -buildid=" -tags ${TAG_WINDOWS} ./cmd/sing-box
          # CGO_ENABLED=1 GOARCH=arm64 GOOS=linux go build -v -trimpath -ldflags "-X 'github.com/sagernet/sing-box/constant.Version=${VERSION}' -H linuxarm64 -s -w -buildid=" -tags ${TAG_LINUX} ./cmd/sing-box
          CGO_ENABLED=0 GOARCH=amd64 GOOS=windows GOAMD64=v3 make build
          CGO_ENABLED=1 GOARCH=arm64 GOOS=linux make build
          CGO_ENABLED=1 CC=${CC} GOARCH=arm64 GOOS=android make build

      - name: Upload Windows
        uses: actions/upload-artifact@v4.3.1
        with:
          name: sing-box_windows
          path: sing-box*.exe

      - name: Upload linuxarm64
        uses: actions/upload-artifact@v4.3.1
        with:
          name: sing-box_linuxarm64
          path: sing-box_linuxarm64

      - name: Upload Android
        uses: actions/upload-artifact@v4.3.1
        with:
          name: sing-box_android
          path: sing-box
