name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GOOS: linux
      GOARCH: arm64
      CGO_ENABLED: 0

    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          cache: false

      - name: Clone sing-box
        run: |
          git clone --depth 1 https://github.com/SagerNet/sing-box.git

      - name: Download libcronet (purego)
        run: |
          mkdir -p sing-box/lib
          curl -L -o sing-box/lib/libcronet.so \
            https://github.com/cronet-go/cronet-go/releases/latest/download/libcronet-linux-arm64.so

      - name: Build sing-box (purego)
        working-directory: sing-box
        run: |
         go env GOOS GOARCH
         go build \
         -tags "with_quic with_dhcp with_utls with_acme with_clash_api with_naive_outbound with_purego purego" \
         -trimpath \
         -ldflags "-s -w -buildid=" \
         -o sing-box \
         ./cmd/sing-box


      - name: Upload files
        uses: actions/upload-artifact@main
        with:
          name: sing-box
          path: |
            sing-box/sing-box
            sing-box/lib/libcronet.so
